section#about {
    display: flex;
}
.row {
    width: 50%!important;
    padding-right: 10px;
    display: inline-block;
}
.col {
    margin-bottom: 10px;
}
.col h2 {
    padding: 10px;
}
.skill {
    padding: 10px;
}
.progress-bar {
    position: relative;
    width: 100%!important;
    height: 20px;
    background-color: transparent;
    border: 2px solid green;
}
.progress {
    position: absolute;
    height: 100%;
    background-color: green;
    text-align: center;
}
.tools {
    padding: 5px;
    line-height: 2.5;
}
.tool {
    display: inline;
}
.tool img{
 
    background-color: #dcdcdc;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
    height: 50px;
}
#projects h1 {
    display: inline;
    padding: 10px;
    padding-right: 50px;
}
.projecst-heading {
    background: #dcdcdc;
    border-radius: 10px;
    padding: 10px;
    display: inline;
}
.projecst-heading li {
    display: inline;
}
.projecst-heading li a {
    color: #606062;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
}
.projecst-heading li a:hover {
    color: #00A859;
}